@{
    ViewData["Title"] = "Service History";
    Layout = "_ServiceLayout";
}

<div class="dvWelcome d-flex justify-content-center align-items-center">
    Welcome,&nbsp;<span id="cusname" class="fw-bold">@ViewBag.UserName</span>
</div>
<section class="container my-4 d-flex justify-content-center">
    <div class="x dv-ser-pro-menu me-3">
        <a id="lnkcus-dashboard" href="#" onclick="showcusDashboard('lnkcus-dashboard');">Dashboard</a>
        <a id="lnkcus-serhistory" href="#" onclick="showcusSerhistory('lnkcus-serhistory');">Service History</a>
        <a id="lnkcus-serschedule" href="#" onclick="showcusSerschedule('lnkcus-serschedule');">Service Schedule</a>
        <a id="lnkcus-favpros" href="#" onclick="showcusFavpros('lnkcus-favpros');">Favourite Pros</a>
        <a id="lnkcus-invoices" href="#" onclick="showcusInvoices('lnkcus-invoices');">Invoices</a>
        <a id="lnkcus-notifications" href="#" onclick="showcusNotifications('lnkcus-notifications');">Notifications</a>
    </div>
    <div id="sidebarlink_container" class="ser-provider-submenu-list">
        <div id="dvcus-dashboard">Dashboard</div>
        <div id="dvcus-serhistory">
            <label class="serhisPageTitle pb-2">Service History</label>
            <table id="tblcusServiceHistory" class="table-data mb-3" style="width:100%">
                <thead>
                    <tr>
                        <th>Service ID</th>
                        <th>Service Details</th>
                        <th>Service Provider</th>
                        <th>Payment</th>
                        <th>Status</th>
                        <th data-orderable="false">Rate SP</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>8475</td>
                        <td>
                            <div><img src="~/images/upcoming-service/calender.png" alt=""> <span class="fw-bold">09/04/2018</span></div>
                            <div><img src="~/images/upcoming-service/clock.png" alt=""> 12:00 - 18:00</div>
                        </td>
                        <td>
                            <div class="media-object">
                                <div class="float-start dvProimgContainer d-flex justify-content-center align-items-center me-2"><img src="~/images/service-history/imghatprofile.png"></div>
                                <div>
                                    <label>Lyum Watson</label>
                                    <div>
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/greystar.png">
                                        <label class="ps-1">4</label>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <label class="spnEuro">&euro;&nbsp;63</label>
                        </td>
                        <td><label class="lblserstatus completed py-1 px-3">Completed</label></td>
                        <td>
                            <a asp-action="" asp-controller="" class="btnratesp px-3 py-2">Rate SP</a>
                        </td>
                    </tr>
                    <tr>
                        <td>8477</td>
                        <td>
                            <div><img src="~/images/upcoming-service/calender.png" alt=""> <span class="fw-bold">09/04/2018</span></div>
                            <div><img src="~/images/upcoming-service/clock.png" alt=""> 12:00 - 18:00</div>
                        </td>
                        <td>
                            <div class="media-object">
                                <div class="float-start dvProimgContainer d-flex justify-content-center align-items-center me-2"><img src="~/images/service-history/imghatprofile.png"></div>
                                <div>
                                    <label>Lyum Watson</label>
                                    <div>
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/greystar.png">
                                        <label class="ps-1">4</label>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <label class="spnEuro">&euro;&nbsp;63</label>
                        </td>
                        <td><label class="lblserstatus cancelled py-1 px-3">Cancelled</label></td>
                        <td>
                            <a asp-action="" asp-controller="" class="btnratespdisabled disabled px-3 py-2">Rate SP</a>
                        </td>
                    </tr>
                    <tr>
                        <td>8479</td>
                        <td>
                            <div><img src="~/images/upcoming-service/calender.png" alt=""> <span class="fw-bold">09/04/2018</span></div>
                            <div><img src="~/images/upcoming-service/clock.png" alt=""> 12:00 - 18:00</div>
                        </td>
                        <td>
                            <div class="media-object">
                                <div class="float-start dvProimgContainer d-flex justify-content-center align-items-center me-2"><img src="~/images/service-history/imghatprofile.png"></div>
                                <div>
                                    <label>Lyum Watson</label>
                                    <div>
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/greystar.png">
                                        <label class="ps-1">4</label>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <label class="spnEuro">&euro;&nbsp;63</label>
                        </td>
                        <td><label class="lblserstatus completed py-1 px-3">Completed</label></td>
                        <td>
                            <a asp-action="" asp-controller="" class="btnratesp px-3 py-2">Rate SP</a>
                        </td>
                    </tr>
                    <tr>
                        <td>8472</td>
                        <td>
                            <div><img src="~/images/upcoming-service/calender.png" alt=""> <span class="fw-bold">09/04/2018</span></div>
                            <div><img src="~/images/upcoming-service/clock.png" alt=""> 12:00 - 18:00</div>
                        </td>
                        <td>
                            <div class="media-object">
                                <div class="float-start dvProimgContainer d-flex justify-content-center align-items-center me-2"><img src="~/images/service-history/imghatprofile.png"></div>
                                <div>
                                    <label>Lyum Watson</label>
                                    <div>
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/greystar.png">
                                        <label class="ps-1">4</label>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <label class="spnEuro">&euro;&nbsp;63</label>
                        </td>
                        <td><label class="lblserstatus completed py-1 px-3">Completed</label></td>
                        <td>
                            <a class="btnratesp px-3 py-2" data-bs-toggle="modal" data-bs-target="#rateSPModal" asp-action="" asp-controller="" role="button">Rate SP</a>
                        </td>
                    </tr>
                    <tr>
                        <td>8474</td>
                        <td>
                            <div><img src="~/images/upcoming-service/calender.png" alt=""> <span class="fw-bold">09/04/2018</span></div>
                            <div><img src="~/images/upcoming-service/clock.png" alt=""> 12:00 - 18:00</div>
                        </td>
                        <td>
                            <div class="media-object">
                                <div class="float-start dvProimgContainer d-flex justify-content-center align-items-center me-2"><img src="~/images/service-history/imghatprofile.png"></div>
                                <div>
                                    <label>Lyum Watson</label>
                                    <div>
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/greystar.png">
                                        <label class="ps-1">4</label>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <label class="spnEuro">&euro;&nbsp;63</label>
                        </td>
                        <td><label class="lblserstatus cancelled disabled py-1 px-3">Cancelled</label></td>
                        <td>
                            <a asp-action="" asp-controller="" class="btnratespdisabled disabled px-3 py-2">Rate SP</a>
                        </td>
                    </tr>

                    <tr>
                        <td>8475</td>
                        <td>
                            <div><img src="~/images/upcoming-service/calender.png" alt=""> <span class="fw-bold">09/04/2018</span></div>
                            <div><img src="~/images/upcoming-service/clock.png" alt=""> 12:00 - 18:00</div>
                        </td>
                        <td>
                            <div class="media-object">
                                <div class="float-start dvProimgContainer d-flex justify-content-center align-items-center me-2"><img src="~/images/service-history/imghatprofile.png"></div>
                                <div>
                                    <label>Lyum Watson</label>
                                    <div>
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/greystar.png">
                                        <label class="ps-1">4</label>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <label class="spnEuro">&euro;&nbsp;63</label>
                        </td>
                        <td><label class="lblserstatus completed py-1 px-3">Completed</label></td>
                        <td>
                            <a asp-action="" asp-controller="" class="btnratesp px-3 py-2">Rate SP</a>
                        </td>
                    </tr>
                    <tr>
                        <td>8477</td>
                        <td>
                            <div><img src="~/images/upcoming-service/calender.png" alt=""> <span class="fw-bold">09/04/2018</span></div>
                            <div><img src="~/images/upcoming-service/clock.png" alt=""> 12:00 - 18:00</div>
                        </td>
                        <td>
                            <div class="media-object">
                                <div class="float-start dvProimgContainer d-flex justify-content-center align-items-center me-2"><img src="~/images/service-history/imghatprofile.png"></div>
                                <div>
                                    <label>Lyum Watson</label>
                                    <div>
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/greystar.png">
                                        <label class="ps-1">4</label>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <label class="spnEuro">&euro;&nbsp;63</label>
                        </td>
                        <td><label class="lblserstatus cancelled py-1 px-3">Cancelled</label></td>
                        <td>
                            <a asp-action="" asp-controller="" class="btnratespdisabled disabled px-3 py-2">Rate SP</a>
                        </td>
                    </tr>
                    <tr>
                        <td>8479</td>
                        <td>
                            <div><img src="~/images/upcoming-service/calender.png" alt=""> <span class="fw-bold">09/04/2018</span></div>
                            <div><img src="~/images/upcoming-service/clock.png" alt=""> 12:00 - 18:00</div>
                        </td>
                        <td>
                            <div class="media-object">
                                <div class="float-start dvProimgContainer d-flex justify-content-center align-items-center me-2"><img src="~/images/service-history/imghatprofile.png"></div>
                                <div>
                                    <label>Lyum Watson</label>
                                    <div>
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/greystar.png">
                                        <label class="ps-1">4</label>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <label class="spnEuro">&euro;&nbsp;63</label>
                        </td>
                        <td><label class="lblserstatus completed py-1 px-3">Completed</label></td>
                        <td>
                            <a asp-action="" asp-controller="" class="btnratesp px-3 py-2">Rate SP</a>
                        </td>
                    </tr>
                    <tr>
                        <td>8472</td>
                        <td>
                            <div><img src="~/images/upcoming-service/calender.png" alt=""> <span class="fw-bold">09/04/2018</span></div>
                            <div><img src="~/images/upcoming-service/clock.png" alt=""> 12:00 - 18:00</div>
                        </td>
                        <td>
                            <div class="media-object">
                                <div class="float-start dvProimgContainer d-flex justify-content-center align-items-center me-2"><img src="~/images/service-history/imghatprofile.png"></div>
                                <div>
                                    <label>Lyum Watson</label>
                                    <div>
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/greystar.png">
                                        <label class="ps-1">4</label>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <label class="spnEuro">&euro;&nbsp;63</label>
                        </td>
                        <td><label class="lblserstatus completed py-1 px-3">Completed</label></td>
                        <td>
                            <a class="btnratesp px-3 py-2" data-bs-toggle="modal" data-bs-target="#rateSPModal" asp-action="" asp-controller="" role="button">Rate SP</a>
                        </td>
                    </tr>
                    <tr>
                        <td>8474</td>
                        <td>
                            <div><img src="~/images/upcoming-service/calender.png" alt=""> <span class="fw-bold">09/04/2018</span></div>
                            <div><img src="~/images/upcoming-service/clock.png" alt=""> 12:00 - 18:00</div>
                        </td>
                        <td>
                            <div class="media-object">
                                <div class="float-start dvProimgContainer d-flex justify-content-center align-items-center me-2"><img src="~/images/service-history/imghatprofile.png"></div>
                                <div>
                                    <label>Lyum Watson</label>
                                    <div>
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/greystar.png">
                                        <label class="ps-1">4</label>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <label class="spnEuro">&euro;&nbsp;63</label>
                        </td>
                        <td><label class="lblserstatus cancelled disabled py-1 px-3">Cancelled</label></td>
                        <td>
                            <a asp-action="" asp-controller="" class="btnratespdisabled disabled px-3 py-2">Rate SP</a>
                        </td>
                    </tr>

                    <tr>
                        <td>8475</td>
                        <td>
                            <div><img src="~/images/upcoming-service/calender.png" alt=""> <span class="fw-bold">09/04/2018</span></div>
                            <div><img src="~/images/upcoming-service/clock.png" alt=""> 12:00 - 18:00</div>
                        </td>
                        <td>
                            <div class="media-object">
                                <div class="float-start dvProimgContainer d-flex justify-content-center align-items-center me-2"><img src="~/images/service-history/imghatprofile.png"></div>
                                <div>
                                    <label>Lyum Watson</label>
                                    <div>
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/greystar.png">
                                        <label class="ps-1">4</label>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <label class="spnEuro">&euro;&nbsp;63</label>
                        </td>
                        <td><label class="lblserstatus completed py-1 px-3">Completed</label></td>
                        <td>
                            <a asp-action="" asp-controller="" class="btnratesp px-3 py-2">Rate SP</a>
                        </td>
                    </tr>
                    <tr>
                        <td>8477</td>
                        <td>
                            <div><img src="~/images/upcoming-service/calender.png" alt=""> <span class="fw-bold">09/04/2018</span></div>
                            <div><img src="~/images/upcoming-service/clock.png" alt=""> 12:00 - 18:00</div>
                        </td>
                        <td>
                            <div class="media-object">
                                <div class="float-start dvProimgContainer d-flex justify-content-center align-items-center me-2"><img src="~/images/service-history/imghatprofile.png"></div>
                                <div>
                                    <label>Lyum Watson</label>
                                    <div>
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/greystar.png">
                                        <label class="ps-1">4</label>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <label class="spnEuro">&euro;&nbsp;63</label>
                        </td>
                        <td><label class="lblserstatus cancelled py-1 px-3">Cancelled</label></td>
                        <td>
                            <a asp-action="" asp-controller="" class="btnratespdisabled disabled px-3 py-2">Rate SP</a>
                        </td>
                    </tr>
                    <tr>
                        <td>8479</td>
                        <td>
                            <div><img src="~/images/upcoming-service/calender.png" alt=""> <span class="fw-bold">09/04/2018</span></div>
                            <div><img src="~/images/upcoming-service/clock.png" alt=""> 12:00 - 18:00</div>
                        </td>
                        <td>
                            <div class="media-object">
                                <div class="float-start dvProimgContainer d-flex justify-content-center align-items-center me-2"><img src="~/images/service-history/imghatprofile.png"></div>
                                <div>
                                    <label>Lyum Watson</label>
                                    <div>
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/greystar.png">
                                        <label class="ps-1">4</label>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <label class="spnEuro">&euro;&nbsp;63</label>
                        </td>
                        <td><label class="lblserstatus completed py-1 px-3">Completed</label></td>
                        <td>
                            <a asp-action="" asp-controller="" class="btnratesp px-3 py-2">Rate SP</a>
                        </td>
                    </tr>
                    <tr>
                        <td>8472</td>
                        <td>
                            <div><img src="~/images/upcoming-service/calender.png" alt=""> <span class="fw-bold">09/04/2018</span></div>
                            <div><img src="~/images/upcoming-service/clock.png" alt=""> 12:00 - 18:00</div>
                        </td>
                        <td>
                            <div class="media-object">
                                <div class="float-start dvProimgContainer d-flex justify-content-center align-items-center me-2"><img src="~/images/service-history/imghatprofile.png"></div>
                                <div>
                                    <label>Lyum Watson</label>
                                    <div>
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/greystar.png">
                                        <label class="ps-1">4</label>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <label class="spnEuro">&euro;&nbsp;63</label>
                        </td>
                        <td><label class="lblserstatus completed py-1 px-3">Completed</label></td>
                        <td>
                            <a class="btnratesp px-3 py-2" data-bs-toggle="modal" data-bs-target="#rateSPModal" asp-action="" asp-controller="" role="button">Rate SP</a>
                        </td>
                    </tr>
                    <tr>
                        <td>8474</td>
                        <td>
                            <div><img src="~/images/upcoming-service/calender.png" alt=""> <span class="fw-bold">09/04/2018</span></div>
                            <div><img src="~/images/upcoming-service/clock.png" alt=""> 12:00 - 18:00</div>
                        </td>
                        <td>
                            <div class="media-object">
                                <div class="float-start dvProimgContainer d-flex justify-content-center align-items-center me-2"><img src="~/images/service-history/imghatprofile.png"></div>
                                <div>
                                    <label>Lyum Watson</label>
                                    <div>
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/greystar.png">
                                        <label class="ps-1">4</label>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <label class="spnEuro">&euro;&nbsp;63</label>
                        </td>
                        <td><label class="lblserstatus cancelled disabled py-1 px-3">Cancelled</label></td>
                        <td>
                            <a asp-action="" asp-controller="" class="btnratespdisabled disabled px-3 py-2">Rate SP</a>
                        </td>
                    </tr>

                    <tr>
                        <td>8475</td>
                        <td>
                            <div><img src="~/images/upcoming-service/calender.png" alt=""> <span class="fw-bold">09/04/2018</span></div>
                            <div><img src="~/images/upcoming-service/clock.png" alt=""> 12:00 - 18:00</div>
                        </td>
                        <td>
                            <div class="media-object">
                                <div class="float-start dvProimgContainer d-flex justify-content-center align-items-center me-2"><img src="~/images/service-history/imghatprofile.png"></div>
                                <div>
                                    <label>Lyum Watson</label>
                                    <div>
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/greystar.png">
                                        <label class="ps-1">4</label>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <label class="spnEuro">&euro;&nbsp;63</label>
                        </td>
                        <td><label class="lblserstatus completed py-1 px-3">Completed</label></td>
                        <td>
                            <a asp-action="" asp-controller="" class="btnratesp px-3 py-2">Rate SP</a>
                        </td>
                    </tr>
                    <tr>
                        <td>8477</td>
                        <td>
                            <div><img src="~/images/upcoming-service/calender.png" alt=""> <span class="fw-bold">09/04/2018</span></div>
                            <div><img src="~/images/upcoming-service/clock.png" alt=""> 12:00 - 18:00</div>
                        </td>
                        <td>
                            <div class="media-object">
                                <div class="float-start dvProimgContainer d-flex justify-content-center align-items-center me-2"><img src="~/images/service-history/imghatprofile.png"></div>
                                <div>
                                    <label>Lyum Watson</label>
                                    <div>
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/greystar.png">
                                        <label class="ps-1">4</label>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <label class="spnEuro">&euro;&nbsp;63</label>
                        </td>
                        <td><label class="lblserstatus cancelled py-1 px-3">Cancelled</label></td>
                        <td>
                            <a asp-action="" asp-controller="" class="btnratespdisabled disabled px-3 py-2">Rate SP</a>
                        </td>
                    </tr>
                    <tr>
                        <td>8479</td>
                        <td>
                            <div><img src="~/images/upcoming-service/calender.png" alt=""> <span class="fw-bold">09/04/2018</span></div>
                            <div><img src="~/images/upcoming-service/clock.png" alt=""> 12:00 - 18:00</div>
                        </td>
                        <td>
                            <div class="media-object">
                                <div class="float-start dvProimgContainer d-flex justify-content-center align-items-center me-2"><img src="~/images/service-history/imghatprofile.png"></div>
                                <div>
                                    <label>Lyum Watson</label>
                                    <div>
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/greystar.png">
                                        <label class="ps-1">4</label>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <label class="spnEuro">&euro;&nbsp;63</label>
                        </td>
                        <td><label class="lblserstatus completed py-1 px-3">Completed</label></td>
                        <td>
                            <a asp-action="" asp-controller="" class="btnratesp px-3 py-2">Rate SP</a>
                        </td>
                    </tr>
                    <tr>
                        <td>8472</td>
                        <td>
                            <div><img src="~/images/upcoming-service/calender.png" alt=""> <span class="fw-bold">09/04/2018</span></div>
                            <div><img src="~/images/upcoming-service/clock.png" alt=""> 12:00 - 18:00</div>
                        </td>
                        <td>
                            <div class="media-object">
                                <div class="float-start dvProimgContainer d-flex justify-content-center align-items-center me-2"><img src="~/images/service-history/imghatprofile.png"></div>
                                <div>
                                    <label>Lyum Watson</label>
                                    <div>
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/greystar.png">
                                        <label class="ps-1">4</label>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <label class="spnEuro">&euro;&nbsp;63</label>
                        </td>
                        <td><label class="lblserstatus completed py-1 px-3">Completed</label></td>
                        <td>
                            <a class="btnratesp px-3 py-2" data-bs-toggle="modal" data-bs-target="#rateSPModal" asp-action="" asp-controller="" role="button">Rate SP</a>
                        </td>
                    </tr>
                    <tr>
                        <td>8474</td>
                        <td>
                            <div><img src="~/images/upcoming-service/calender.png" alt=""> <span class="fw-bold">09/04/2018</span></div>
                            <div><img src="~/images/upcoming-service/clock.png" alt=""> 12:00 - 18:00</div>
                        </td>
                        <td>
                            <div class="media-object">
                                <div class="float-start dvProimgContainer d-flex justify-content-center align-items-center me-2"><img src="~/images/service-history/imghatprofile.png"></div>
                                <div>
                                    <label>Lyum Watson</label>
                                    <div>
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/yellowstar.png">
                                        <img src="~/images/service-history/greystar.png">
                                        <label class="ps-1">4</label>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <label class="spnEuro">&euro;&nbsp;63</label>
                        </td>
                        <td><label class="lblserstatus cancelled disabled py-1 px-3">Cancelled</label></td>
                        <td>
                            <a asp-action="" asp-controller="" class="btnratespdisabled disabled px-3 py-2">Rate SP</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="dvcus-serschedule">Service Schedule</div>
        <div id="dvcus-favpros">Favourite Pros</div>
        <div id="dvcus-invoices">Invoices</div>
        <div id="dvcus-notifications">Notifications</div>
    </div>
    <input type="hidden" id="hdncusActiveMenu" value="">
</section>