<!DOCTYPE html>
<html>
<head>
    <title>Admin | Helperland</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Helperland, Admin, User Management, Service Requests, HTML, CSS, JavaScript, Bootstrap">
    <link rel="icon" type="image/x-icon" href="~/images/logo/favicon_img.png">
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" />
    <!-- Loader CSS -->
    <link href="~/css/loader-css/css-loader.css" rel="stylesheet" />
    <!-- Data table CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="~/css/mycss.css">
    <script>
        function myfun() {
            var dtstr = $("#dtStartDate").val();
            var dt = new Date(dtstr);
            alert(dt.toLocaleDateString());
        }
    </script>
    <style>
        /* For hide arrows of Number Input type */
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
        /*.chosen-container-single .chosen-single {
            background: -webkit-gradient(linear,left top,left bottom,color-stop(20%,#fff),color-stop(50%,#fff),color-stop(52%,#fff),to(#fff));
            background: linear-gradient(#fff 20%,#fff 50%,#fff 52%,#fff 100%);
        }*/
    </style>
</head>
<body onload="checkForWindowSize();" onresize="navadminMenuSize();">
    <!-- Loader -->
    <div class="loader loader-bouncing" id="dvLoader"></div>
    <header id="myHeader" class="admin_management">
        <div class="dv-mynav">
            <nav class="navbar navbar-expand-lg py-0">
                <a asp-action="index" asp-controller="customer">
                    <span class="um_logo_name font-face">helperland</span>
                </a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="m-2"><a asp-action="" asp-controller=""><img class="img-um-profile" id="imgadminuser" src="~/images/admin-user_management/admin-user.png"><img class="img-um-profile" id="imgadminuser-black" src="~/images/admin-user_management/admin-user-black.png"><span class="ps-2 pro-user-name">James Smith</span></a></li>
                            <li class="m-2"><a asp-action="logout" asp-controller="customer"><img class="img-um-logout pt-1 ps-1" id="imgadminuserlogout" src="~/images/admin-user_management/logout.png"><img class="img-um-logout pt-1 ps-1" id="imgadminuserlogout-black" src="~/images/admin-user_management/logout-black.png"></a></li>
                            <li class="pt-3 admin-hdr-menu"><hr></li>
                            <li class="py-3 ps-2 admin-hdr-menu"><a id="lnkadmin-ser-req1" href="#" onclick="showAdminSerReq('lnkadmin-ser-req1');">Service Requests</a></li>
                            <li class="pt-3 ps-2 admin-hdr-menu"><a id="lnkadmin-user-management1" href="#" onclick="showAdminUserManagement('lnkadmin-user-management1');">User Management</a></li>
                        </ul>
                    </div>
                </div>
                <div class="background_disable_effect"></div>
            </nav>
        </div>
    </header>
    <section class="container-fluid p-0 d-flex justify-content-center admin-main-container">
        <div class="admin-menu me-1">
            <a href="#" id="lnkadmin-ser-req" onclick="showAdminSerReq('lnkadmin-ser-req');">Service Requests</a>
            <a href="#" id="lnkadmin-user-management" onclick="showAdminUserManagement('lnkadmin-user-management');">User Management</a>
        </div>
        <div class="admin-container">
            <div id="dvadmin-ser-req" class="p-4">
                <div class="dv-um-top">
                    <div class="title float-start">Service Requests</div>
                </div>
                <div class="dv-searchItems-container p-3 mb-4">
                    <div class="row">
                        <div class="col-md-3 p-0 ps-1 my-1">
                            <input id="txtSRIdAdminPanelSR" class="form-control p-2" placeholder="Service ID" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type="number" maxlength="20" autocomplete="off" />
                        </div>
                        <div class="col-md-3 p-0 ps-1 my-1">
                            <input id="txtZipcodeAdminPanelSR" class="form-control p-2" placeholder="Zipcode" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type="number" maxlength="6" autocomplete="off" />
                        </div>
                        <div class="col-md-3 p-0 ps-1 my-1">
                            <input id="txtCustomerAdminPanelSR" type="text" class="form-control" placeholder="Customer" />
                        </div>
                        <div class="col-md-3 p-0 ps-1 my-1">
                            <input id="txtSPAdminPanelSR" type="text" class="form-control" placeholder="Service provider" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 p-0 ps-1 my-1">
                            <select class="form-select select p-2" id="selSerStatusAdminPanel">
                                <option value="">Status</option>
                                @{
                                    foreach (int i in Enum.GetValues(typeof(ServiceStatusEnum)))
                                    {
                                        <option value=@Enum.GetName(typeof(ServiceStatusEnum), @i)>@Enum.GetName(typeof(ServiceStatusEnum), @i)</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-3 p-0 ps-1 my-1">
                            <input id="dtFromDateAdminPanelSR" placeholder="From Date" type="text" onfocus="(this.type='date')" class="textbox-n form-control p-2">
                            <span class="text-danger small" id="spndtFromDateAdminPanelSR"></span>
                        </div>
                        <div class="col-md-3 p-0 ps-1 my-1">
                            <input id="dtToDateAdminPanelSR" placeholder="To Date" type="text" onfocus="(this.type='date')" class="textbox-n form-control p-2">
                            <span class="text-danger small" id="spndtToDateAdminPanelSR"></span>
                        </div>
                        <div class="col-md-1 p-0 ps-1 my-1">
                            <button class="btnSearch" onclick="filterInAdminPanelServiceRequests();">Search</button>
                        </div>
                        <div class="col-md-1 p-0 ps-1 my-1">
                            <button class="btnClear">Clear</button>
                        </div>
                    </div>
                </div>
                <div class="dv-ser-req-data">
                    <!-- Data table start -->
                    <table id="tblSerReq" class="table-data mb-3" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Service ID</th>
                                <th data-orderable="false">Service date</th>
                                <th>Customer details</th>
                                <th data-orderable="false">Service provider</th>
                                <th data-orderable="false">Status</th>
                                <th data-orderable="false">Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <!-- Data table end -->
                </div>
            </div>
            <div id="dvadmin-user-management" class="p-4">
                <div class="dv-um-top">
                    <div class="title" id="dvadmintitle">User Management</div>
                    <div class="pt-2" id="dvadminaddnewuser"><a asp-action="" asp-controller="" class="addNewUser"><img class="pe-2" src="~/images/admin-user_management/add.png">Add New User</a></div>
                </div>
                <div class="dv-searchItems-container p-3 mb-4">
                    <div class="row">
                        <div class="col-md-3 p-0 ps-1 my-1">
                            <input type="text" class="form-control" placeholder="User name" />
                        </div>
                        <div class="col-md-3 p-0 ps-1 my-1">
                            <select class="form-select select p-2">
                                <option value="0">User Type</option>
                                @{
                                    foreach (int i in Enum.GetValues(typeof(UserTypeIdEnum)))
                                    {
                                        if (@Enum.GetName(typeof(UserTypeIdEnum), @i) != "Admin")
                                        {
                                            <option value=@Enum.GetName(typeof(UserTypeIdEnum), @i)>@Enum.GetName(typeof(UserTypeIdEnum), @i)</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-3 p-0 ps-1 my-1">
                            <div class="input-group">
                                <div class="input-group-text">+49</div>
                                <input class="form-control p-2" placeholder="Phone number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type="number" maxlength="10" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-md-3 p-0 ps-1 my-1">
                            <input class="form-control p-2" placeholder="Postal code" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type="number" maxlength="6" autocomplete="off" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 p-0 ps-1 my-1">
                            <input id="dtFromDateAdminPanelUM" placeholder="From Date" type="text" onfocus="(this.type='date')" class="textbox-n form-control p-2">
                        </div>
                        <div class="col-md-3 p-0 ps-1 my-1">
                            <input id="dtToDateAdminPanelUM" placeholder="To Date" type="text" onfocus="(this.type='date')" class="textbox-n form-control p-2">
                        </div>
                        <div class="col-md-1 p-0 ps-1 my-1">
                            <button class="btnSearch" onclick="filterInAdminPanelUserManagement();">Search</button>
                        </div>
                        <div class="col-md-1 p-0 ps-1 my-1">
                            <button class="btnClear">Clear</button>
                        </div>
                    </div>
                </div>
                <div class="dv-user-management-data">
                    <!-- Data table start -->
                    <table id="tblUserManagement" class="table-data mb-3" style="width:100%;">
                        <thead>
                            <tr>
                                <th>User Name</th>
                                <th>Date of Registration</th>
                                <th data-orderable="false">User Type</th>
                                <th data-orderable="false">Phone</th>
                                <th data-orderable="false">Postal Code</th>
                                <th data-orderable="false">Status</th>
                                <th data-orderable="false">Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <!-- Data table end -->
                </div>
            </div>
            <label class="lblcopyright ps-3 pb-5">&copy;2022 Helperland. All rights reserved.</label>
        </div>
        <input type="hidden" id="hdnadminActiveMenu" value="">
    </section>

    <!-- Script -->
    <script src="~/js/myjs.js"></script>
    <script src="~/js/user_management.js"></script>
    <!-- jquery -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/ae6d6e0254.js" crossorigin="anonymous"></script>
    <!-- Data Table -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="~/js/Admin/adminJS.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdn.datatables.net/datetime/1.1.2/js/dataTables.dateTime.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tblUserManagement').DataTable({
                "dom": 't<"bottom"flp i><"clear">',
                "order": [[3, "desc"]],
                "bPaginate": true, //hide pagination
                "bFilter": false, //hide Search bar
                "bInfo": true, // hide showing entries
                searching: true
            });
        });
        $(document).ready(function () {
            $('#tblSerReq').DataTable({
                "dom": 't<"bottom"flp i><"clear">',
                "order": [[3, "desc"]],
                "bPaginate": true, //hide pagination
                "bFilter": false, //hide Search bar
                "bInfo": true, // hide showing entries
                searching: true
            });
        });
    </script>


    <!-- Search Bar in Select Script -->
    @*<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js" integrity="sha512-rMGGF4wg1R73ehtnxXBt5mbUfN9JUJwbk21KMlnLZDJh7BkPmeovBuddZCENJddHYYMkCh9hPFnPmS9sspki8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" integrity="sha512-yVvxUQV0QESBt1SyZbNJMAwyKvFTLMyXSyBHDO4BG5t7k/Lw34tyqlSDlKIrIENIzCl+RVUNjmCPG+V/GMesRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />*@
    <!-- script for sidebar navigation -->
    <partial name="_SidebarNavigationLayout" />
</body>
</html>