<!-- Modal 5 Login -->
<div class="modal fade" id="loginModal" aria-hidden="true" aria-labelledby="loginModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="mdlheader">Login to your Account</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row m-2">
                    <div class="col-md-11 mb-1 ms-3 alert alert-danger alert-dismissible d-none" id="dvLoginMsg" role="alert">
                        <span id="spnLoginMsg"></span>
                        <button type="button" class="btn-close" onclick="hideErrMsgofLoginModal();" aria-label="Close"></button>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-md-12">
                        <input type="email" id="loginmodal_email" onkeyup="checkForLoginModal();" class="form-control img-modal-icon img-email" maxlength="100" autocomplete="off" placeholder="Email">
                        <small class="text-danger" id="errMsg_loginmodal_email"></small>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-md-12">
                        <input type="password" id="loginmodal_password" onkeyup="checkForLoginModal();" class="form-control img-modal-icon img-password" maxlength="14" autocomplete="off" placeholder="Password">                        
                    </div>
                </div>
                <div class="row m-2 my-3">
                    <div class="col-md-12">
                        <input class="form-check-input" type="checkbox" id="loginmodal_isremember">
                        <label class="form-check-label" for="loginmodal_isremember">
                            Remember me
                        </label>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-md-12">
                        <button id="btnloginmodal" type="submit" onclick="loginUser();">Login</button>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center"><a asp-action="resetPassword" asp-controller="Customer" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#forgorpasswordModal" role="button">Forgot password?</a></div>
                <div class="d-flex justify-content-center align-items-center mb-4">Don't have an account?&nbsp;<a asp-action="customersignup" asp-controller="Customer">Create an Account</a></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 5 Forgot Password -->
<div class="modal fade" id="forgorpasswordModal" aria-hidden="true" aria-labelledby="forgorpasswordModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="mdlheader">Forgot password</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row m-2">
                    <div class="col-md-11 mb-1 ms-3 alert alert-danger alert-dismissible d-none" id="dvForgotPwdMsg" role="alert">
                        <span id="spnForgotPwdMsg"></span>
                        <button type="button" class="btn-close" onclick="hideErrMsgofForgotPasswordModal();" aria-label="Close"></button>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-md-12">
                        <input type="email" id="passwordmodal_email" autocomplete="off" onkeyup="checkForPasswordModal();" class="form-control img-modal-icon img-email" placeholder="Email Address">
                        <small class="text-danger" id="errMsg_passwordmodal_email"></small>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-md-12">
                        <button id="btnpasswordmodal" type="submit" onclick="forgotPassword();">Send</button>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center mt-4"><a data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#loginModal" role="button">Login Now</a></div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Customer/login.js"></script>
<!-- Sweet alert -->
<link href="~/lib/limonte-sweetalert2/sweetalert2.css" rel="stylesheet" />
<script src="~/lib/limonte-sweetalert2/sweetalert2.js"></script>